<!DOCTYPE html>
<html>
<head>
    <title>Web Scraper</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1>Web Scraper</h1>
    <form action="/start_parsing" method="post">
        <label for="parser_name">Parser:</label>
        <select id="parser_name" name="parser_name" required>
            <option value="gis">2GIS</option>
            <option value="yandex">Yandex Maps</option>
        </select><br><br>

        <label for="url">URL:</label>
        <input type="text" id="url" name="url" required><br><br>

        <label for="output_filename">Output Filename (e.g., output.csv):</label>
        <input type="text" id="output_filename" name="output_filename" value="output.csv" required><br><br>

        <button type="submit">Start Parsing</button>
    </form>
</div>
</body>
</html>